body {
     font-family: Verdana, Geneva, sans serif; 
     }

h1, h2 { 
       color: darkslategray
       }

.evenrow {
         background-color: mediumaquamarine 
         }

h1 {
   font-family: 72em
   }
h2 {
   font-family: 36em
   } 